<%- layout("/layouts/boilerplate.ejs") %>
    <div class="row mt-0 mx-auto">
        <div class="col-md-8 mx-auto">
            <br><br>
            <h3>Edit Your Listing</h3>
            <form method="post" action="/listings/<%= listing._id %>?_method=PUT" class="needs-validation" novalidate
                enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" value="<%= listing.title %>" name="listing[title]" class="form-control border border-black border-opacity-50" required>
                    <div class="valid-feedback">Title looks good!</div>
                    <div class="invalid-feedback">Title should be valid</div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea cols="20" rows="3" name="listing[description]" class="form-control border border-black border-opacity-50"
                        required><%= listing.description %></textarea>
                    <div class="invalid-feedback">Please enter a short description.</div>
                </div>
                <!-- <div class="mb-3">
                    <label for="image" class="form-label">Image Link</label>
                    <input type="text" value= "<%#= listing.image %>" name="listing[image]" class="form-control" required> 
                    <div class="invalid-feedback">Please enter a image link.</div>
                </div> -->
                <div class="mb-3">
                    <label for="image" class="form-label">Original Image Preview</label><br>
                    <img src="<%= originalImage %>" alt="Original Image" class="listingImg">
                </div>
                <div class="row mb-3">
                    <div class="col-10">
                        <label for="image" class="form-label">Upload New Image</label>
                        <input type="file" name="listing[image]" class="form-control border border-black border-opacity-50 imageInput" id="verify-img">
                        <p id="errorContainer"></p>                                     
                    </div>
                    <div class="col-2">
                        <label class="form-control border border-white" style="margin-left: -15px;" for="verify">Verify</label>     
                        <input type="checkbox" id="verify" class="form-btn btn ms-2 border border-black border-opacity-50"  required style="height: 25px; width:25px;">           
                    </div>
                </div>
                <div class="m-b3">
                    <label for="price" class="form-label">Categery</label>
                    <select class="form-select border border-black border-opacity-50 mb-2" aria-label="Default select example">
                        <option selected class="w-50%">Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input type="number" value="<%= listing.price %>" name="listing[price]" class="form-control border border-black border-opacity-50"
                            required>
                        <div class="invalid-feedback">Price should be valid</div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" value="<%= listing.country %>" name="listing[country]" class="form-control border border-black border-opacity-50"
                            required>
                        <div class="invalid-feedback">Country name should be valid</div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" value="<%= listing.location %>" name="listing[location]" class="form-control border border-black border-opacity-50"
                        required>
                    <div class="invalid-feedback">Location should be valid</div>
                </div>
                <button class="btn btn-dark edit-btn mb-3 uploadButton" onclick="sizeLimit()">Edit</button>
            </form>
        </div>
    </div>
    
    <script src="/js/editImg-size.js"></script>