<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WonderLust</title>
</head> -->
<% layout("/layouts/boilerplate") %>    <!-- is layout use karne se html ka set custome boilerplate milta h -->
    <!-- <h3>All Listings</h3> -->
    <!-- comment create new listing button this is use on navbar -->
    <!-- <form method="get" action="/listings/new">
        <button>Create New Listing</button>
    </form> -->
    <link rel="stylesheet" href="/css/filter.css">
    <div class="filters-main">
        <div id="filters">
            <div class="filter ms-1 ps-2 pe-2">
                <div><img src="/Icon/0.png" alt="icon" style="width: 25px; height: 25px;"></div>
                <p>ALL</p>
            </div>
            <div class="filter">
                <div><img src="/Icon/1.png" alt="icon" style="width: 25px; height: 25px;"></div>
                <p>Beachfront</p>
            </div>
            <div class="filter">
                <div><img src="/Icon/2.png" alt="icon" style="width: 25px; height: 25px;"></div>
                <p>Cabins</p>
            </div>
            <div class="filter">
                <div><img src="/Icon/3.png" alt="icon" style="width: 25px; height: 25px;"></div>
                <p>OMG!</p>
            </div>
            <div class="filter">
                <div><img src="/Icon/4.png" alt="icon" style="width: 25px; height: 25px;"></div>
                <p>Lake</p>
            </div>
            <div class="filter">
                <div><img src="/Icon/5.png" alt="icon" style="width: 25px; height: 25px;"></div>
                <p>Design</p>
            </div>
            <div class="filter">
                <div><img src="/Icon/6.png" alt="icon" style="width: 25px; height: 25px;"></div>
                <p>Amazing pools</p>
            </div>
            <div class="filter">
                <div><img src="/Icon/7.png" alt="icon" style="width: 25px; height: 25px;"></div>
                <p>Farms</p>
            </div>
            <div class="filter">
                <div><img src="/Icon/8.png" alt="icon" style="width: 25px; height: 25px;"></div>
                <p>Amazing views</p>
            </div>
            <div class="filter">
                <div><img src="/Icon/9.png" alt="icon" style="width: 25px; height: 25px;"></div>
                <p>Rooms</p>
            </div>
            <div class="filter">
                <div><img src="/Icon/10.png" alt="icon" style="width: 25px; height: 25px;"></div>
                <p>Lakefront</p>
            </div>
            <div class="filter">
                <div><img src="/Icon/11.png" alt="icon" style="width: 25px; height: 25px;"></div>
                <p>Tiny homes</p>
            </div>
            <div class="filter">
                <div><img src="/Icon/12.png" alt="icon" style="width: 25px; height: 25px;"></div>
                <p>Countryside</p>
            </div>
            <div class="filter">
                <div><img src="/Icon/13.png" alt="icon" style="width: 25px; height: 25px;"></div>
                <p>Treehouse</p>
            </div>
            <div class="filter">
                <div><img src="/Icon/14.png" alt="icon" style="width: 25px; height: 25px;"></div>
                <p>Trending</p>
            </div>
            <div class="filter">
                <div><img src="/Icon/15.png" alt="icon" style="width: 25px; height: 25px;"></div>
                <p>Tropical</p>
            </div>
            <div class="filter">
                <div><img src="/Icon/16.png" alt="icon" style="width: 25px; height: 25px;"></div>
                <p>National parks</p>
            </div>
            <div class="filter">
                <div><img src="/Icon/17.png" alt="icon" style="width: 25px; height: 25px;"></div>
                <p>Castles</p>
            </div>
            <div class="filter">
                <div><img src="/Icon/18.png" alt="icon" style="width: 25px; height: 25px;"></div>
                <p>Camping</p>
            </div>
            <div class="filter">
                <div><img src="/Icon/19.png" alt="icon" style="width: 25px; height: 25px;"></div>
                <p>Top of the world</p>
            </div>
            <div class="filter">
                <div><img src="/Icon/20.png" alt="icon" style="width: 25px; height: 25px;"></div>
                <p>Luxe</p>
            </div>
            <div class="filter">
                <div><img src="/Icon/21.png" alt="icon" style="width: 25px; height: 25px;"></div>
                <p>Iconic cities</p>
            </div>
            <div class="filter">
                <div><img src="/Icon/22.png" alt="icon" style="width: 25px; height: 25px;"></div>
                <p>Earth homes</p>
            </div>
        </div>
        <div class="tax-toggle tax-filter-icon me-2 ms-2 ">
            <div class="form-check form-switch form-check-reverse pe-1">
                <i class="fa-solid fa-sliders" id="filter-icon"></i>
                <label class="form-check-label" for="filter-icon">Filters</label>
            </div>
        </div>
        <div class="tax-toggle tax-filter-icon-small me-2 ms-2 ">
            <div class="form-check form-switch form-check-reverse pe-0">
                <i class="fa-solid fa-sliders ps-1" id="filter-icon"></i>
                <!-- <label class="form-check-label" for="filter-icon">Filters</label> -->
            </div>
        </div>
        <div class="tax-toggle tax-filter ">
            <div class="form-check form-switch form-check-reverse" >
                <input class="form-check-input tax-switch" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">Display total before taxes</label>
            </div>
        </div>
    </div>
    <div class="tax-toggle tax-sticky">
        <div class="form-check form-switch form-check-reverse">
            <input class="form-check-input tax-switch" type="checkbox" role="switch" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault">Display total before taxes</label>
        </div>
    </div>
    <div class="row row-cols-xxl-4 row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-1">
        <% for (const listing of allListing) { %>
            <a href="/listings/<%= listing._id %>" class="listing-link">
                <div class="card col listing-card index-res">
                    <div class="index-res-img">
                        <div class="card-img">
                            <img class="heart" src="https://res.cloudinary.com/dfkqweeha/image/upload/v1698920650/wanderlust_DEV/exbjmnms4qq4f5xmdowa.png" alt="like">
                            <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image" />
                        </div>
                        <!-- set date  -->
                        <% 
                        let no = Math.floor(Math.random() * 28 + 1);
                        let date = (new Date('2023-11-01')).getDate() + no;         //today ----
                        let dateA = (new Date('2023-11-01')).getDate() + no + 2;    //today + day ----
                        let month = Date().split(" ")[1];
                         %>
                        <div class="card-body mt-1 ms-2">
                            <p class="card-text" style="display: block;">
                                <b><%= listing.title %></b> <br>
                                <span>&nbsp;<%= listing.location %>, <%= listing.country %></span>
                                <span style="display: block;">&nbsp;<%= date %>-<%- dateA %> &nbsp;&nbsp;<%= month %></span>
                                <span class="price-info"><span class=" fw-bold">&nbsp; &#8377;<%= listing.price.toLocaleString("en-IN") %> </span> night</span>
                                <i class="tax-info"> &nbsp; <i class="rs-sign"><b> &#8377;</i><%= (listing.price*1.18).toLocaleString("en-In") %></b> &nbsp; total before taxes</i>
                            </p>
                        </div>
                    </div>
                </div>
            </a>            
        <% } %>
    </div>  
<!-- </html> -->
<script src="/js/filter.js"></script>


<!-- <li>Description : <%= //listing.description %></li>
<li>Image-URL : <%=//listing.image %></li>
<li>Price : <%= //listing.price %></li>
<li>Location : <%= //listing.location %></li>
<li>Country : <%= //listing.country %></li> -->